/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {background-repeat: no-repeat;
  background-color: #9acee5;
  background: url(mountain.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*backgorund-size: cover;*/
  font-family: "", sans-serif;
  padding: 5px 25px 5px 25px;
  font-size: 28px;
  margin: 0;
  color: rgb(248, 255, 230);
  font-style: Normal;
  background-image:url(https://media1.giphy.com/media/3o84TRv6yJ9DEGeRrO/source.gif)
}

h1 {
  font-family: "", serif;
  font-size: 39px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #435cad;
}

.Navbar li {
  float: left;
}

.Navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Navbar li a:hover {
  background-color: #4a70ac;
}
